@model MVCStronglyTypedHtmlHelper.Models.SignUp
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
            {
                   @Html.HiddenFor(model=>model.Id)
                <p>@Html.LabelFor(model=>model.Username) &nbsp; @Html.TextBoxFor(model=>model.Username,new {@class="form-control" })</p>
                <p>@Html.LabelFor(model=>model.UserPassword) &nbsp; @Html.PasswordFor(model=>model.UserPassword, new { @class = "form-control" })</p>
                <p>@Html.LabelFor(model=>model.Gender) &nbsp; @Html.TextBoxFor(model=>model.Username, new { @class = "form-control" })</p>
                <p>@Html.LabelFor(model=>model.Username) &nbsp; @Html.DropDownListFor(model=>model.Gender,new SelectList(new[] {"Male","Female"}),"Select", new { @class = "form-control" })</p>
                <p>@Html.LabelFor(model=>model.Email) &nbsp; @Html.TextBoxFor(model=>model.Email, new { @class = "form-control" })</p>
                <p>@Html.LabelFor(model=>model.UserComment) &nbsp; @Html.TextAreaFor(model=>model.UserComment, new { @class = "form-control" })</p>
                <br/>
                <input type="submit" value="Submit" class="btn btn-outline-primary"/>
            }